@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fefefe;
  --text-color: #3f3f3f;
}

.body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-mode {
  --background-color: #3f3f3f;
  --text-color: #ffffff
}

.icons {
  cursor: pointer;
}