@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-color: #fefefe;
  color: #3f3f3f;
}

.dark-mode {
  background-color: #3f3f3f;
  color: #ffffff;
}

.icons {
  cursor: pointer;
}